:target:before {
content:"";
display:block;
height:71px; /* fixed header height*/
margin:-71px 0 0; /* negative fixed header height */
}

.beckLogo {
  height: 45px;
}

.turnkeyBG {
  background-color: #fff;
  padding: 50px 0px 50px 0px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
}

.carousel-control-next-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
}

a {
    color: #9d9d9d;
    text-decoration: none;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

.list-group-item.active {
    z-index: 2;
    color: #fff;
    background-color: #2858a5;
    border-color: #2858a5;
}

.netCards {
  padding-top: 20px;
  width: 70%;
}

.btn-primary{
    color: #fff;
    background-color: #343a40;
    border-color: #343a40;
}
.header {
  width: 100%;
  box-shadow: 4px 4px 20px #aaa;
}

.jumbotronCont {
  padding-top: 30px;
}

.img-responsive {
  width: 100%;
}

.tileEuroBlech {
  width: 55%;
  height: 55%;
}

.tileButton {
  padding: 15px 25px;
  font-size: 12px;
  text-align: center;
  cursor: pointer;
  outline: none;
  background-color: #fff;
}

.tileButton:hover {background-color: #eaeaea}

.tileButton:active {
  background-color: #eaeaea;
  box-shadow: 8px 8px 10px #aaa;
  transform: translateY(4px);
}

.rollformingButton {
  padding: 15px 25px;
  cursor: pointer;
  outline: none;
  background-color: #fff;
}

.rollformingButton:hover {background-color: #eaeaea}

.rollformingButton:active {
  background-color: #eaeaea;
  box-shadow: 8px 8px 10px #aaa;
  transform: translateY(4px);
}

.cardTile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    border-radius: .5rem;
    box-shadow: 8px 8px 10px #aaa;
}

.netcardTile {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    height: 150px;
    border-radius: .5rem;
    box-shadow: 8px 8px 10px #aaa;
}

.netrowTiles {
  margin-right: 150px;
  margin-left: 150px;
}

@media ( max-width: 1175px ) {
    .netrowTiles {
      margin-right: 0px;
      margin-left: 0px;
    }
}

.cardImgOverlayTile {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1.25rem;
    opacity: .95;
}

.jumbotron{
  margin-bottom: 0;
}

.rowTiles {
  margin-right: 25px;
  margin-left: 25px;
}

.page-footer{
  background-color: #343a40;
  color: #9d9d9d;
  box-shadow: 8px 8px 10px #aaa;
}

.hr-color{
      border-top: 1px solid #9d9d9d;
}

.slider { 
  width: 600px; 
  height: 400px; 
}


hr.style-six {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

@media ( min-width: 768px ) {
    .grid-divider {
        position: relative;
        padding: 0;
    }
    .grid-divider>[class*='col-'] {
        position: static;
    }
    .grid-divider>[class*='col-']:nth-child(n+2):before {
        content: "";
        border-left: 1px solid #DDD;
        position: absolute;
        top: 0;
        bottom: 0;
    }
    .col-padding {
        padding: 0 15px;
    }
}

.textContainerHome {
  width: 632px;
}

.turnkeyThumbnail {
  margin: 130px 0px 0px 0px;
  height: 140px;
  width: 140px;
}

.rollContent {
  height: 590px;
}

#googleMap {
  width: 100%;
  height: 550px;
}

#contactUsContainer {
  width: 100%;
  height: 550px;
}

.carousel-control.right{
  background-image: none;
}
.carousel-control.left{
  background-image: none;
}

.sectionPadding {
  padding: 0px 0px 0px 0px;
}

.controllerContainer {
  height: 490px;
}

.folderSection {
  padding-bottom: 100px;
}

.folder {
  position: absolute;
  bottom: 0px;
  width: 100%;
  opacity: .75;
}

@media ( max-width: 768px ) {
    .folder {
      position: relative;
    }
}

.intellifold {
  padding: 0px 0px 0px 0px;
  width: 80%;
  opacity: .75;
}

.shadowed {
    -webkit-filter: drop-shadow(12px 12px 25px rgba(0,0,0,0.5));
}

.over img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.turnkey {
  margin: 0px 0px 0px 0px;
  width: 75%;
  box-shadow: 8px 8px 10px #a9a9a9;
  opacity: .95;
}

.turnkeyText {
  margin: 0px 0px 0px -100px;
  height: 75%;
  width: 75%;
}

.netThumb {
height: 600px;
}

.netCaption {
  height: 380px;
}

.netTextCont {
  height: 150px;
}

.headingSpacer {
  padding: 0px 0px 0px 0px;
}

.rowSpacer {
  height: 450px;
  margin: 20px 0px 0px 0px;
}

.accContainer {
  padding-top: 20px;
  height: 175px;
}

.accDesc {
  padding: 0px 95px 20px 95px;
}

.moreInfoRight {
  margin: 20px 0px 0px 0px;
  float: right;
}

#Home {
  padding: 0px 0px 50px 0px;
  background-color: #e9ecef;
}

#Rollforming {
  padding: 50px 0px 50px 0px;
  background-color: #ffffff;
}

#Folding {
  padding: 20px 0px 0px 0px;
  background-color: #e9ecef;
  box-shadow: 4px 4px 20px #aaa;
}

#TurnKey {
  padding: 125px 50px 125px 50px;
  background-color: #fff;
  box-shadow: 4px 4px 20px #aaa;
}

#Networking {
  padding: 75px 50px 75px 50px;
  background-color: #e9ecef;
  box-shadow: 4px 4px 20px #aaa;
}

#Accessories {
  padding: 50px 0px 100px 0px;
  background-color: #ffffff;
  box-shadow: 4px 4px 20px #aaa;
}

#ContactUs {
  padding:75px 0px 75px 0px;
  background-color: #e9ecef;
  box-shadow: 4px 4px 20px #aaa;
}

#Footer {
  padding: 0px 0px 0px 0px;
  height: 200px;
  background-color: #222222;
  box-shadow: 4px 4px 20px #aaa;
}

#FooterColumns {
  height: 150px;
}

#Controllers {
  padding: 50px 20px 50px 20px;
  box-shadow: 4px 4px 20px #aaa;
}

#turnkeySec {
  padding: 50px 50px 0px 50px;
  box-shadow: 4px 4px 20px #aaa;
}

#NetworkingPage {
  padding: 50px 50px 50px 50px;
  background-color: #ffffff;
  box-shadow: 4px 4px 20px #aaa;
}

body {
    position: relative;
    overflow-x:hidden;
}

input, textarea { 
    padding: 9px; 
    border: solid 1px #E5E5E5; 
    outline: 0; 
    font: normal 13px/100% Verdana, Tahoma, sans-serif; 
    width: 200px; 
    background: #FFFFFF url('bg_form.png') left top repeat-x; 
    background: -webkit-gradient(linear, left top, left 25, from(#FFFFFF), color-stop(4%, #EEEEEE), to(#FFFFFF)); 
    background: -moz-linear-gradient(top, #FFFFFF, #EEEEEE 1px, #FFFFFF 25px); 
    box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -moz-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    -webkit-box-shadow: rgba(0,0,0, 0.1) 0px 0px 8px; 
    } 
   
textarea { 
    width: 400px; 
    max-width: 400px; 
    height: 150px; 
    line-height: 150%; 
    } 
   
input:hover, textarea:hover, 
input:focus, textarea:focus { 
    border-color: #C9C9C9; 
    -webkit-box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 8px; 
    } 
   
.form label { 
    margin-left: 10px; 
    color: #999999; 
    } 
   
.submit input { 
    width: auto; 
    padding: 9px 15px; 
    background: #617798; 
    border: 0; 
    font-size: 14px; 
    color: #FFFFFF; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px; 
    }

  .form-row {
    padding: 5px 5px 5px 5px;
  }

.form-space {
  width : 80px;
}

  .text-padding {
    padding: 7px 0px 7px 0px;
  }

